*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
} */

 body {
    color: #fff;  
  }

  .page__index {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 95vh;
    background-color: #e6b68b;
    background-image: linear-gradient(#cd966c 2.6px, transparent 2.6px),linear-gradient(to right, #cd966c 2.6px, #e6b68b 2.6px);
    background-size: 52px 52px;
  }
    
  .game-container {
    height: 100%;
    width: 100%;
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
    "nivel . ."
    "main main buttons"
    "main main info"
    ;
    row-gap: 1.5rem;
    column-gap: 1rem;
    position: fixed;
  }
  
  canvas {
    border: 4px solid #8d4925;
    border-radius: .8rem;
    margin-top: -2rem;
    justify-self: center;
    grid-area: main;
    background-color: #f5e1ce;
  }
  
  .btns {
    display: grid;
    grid-template-columns: repeat(3, minmax(6rem, 14rem));
    grid-template-rows: repeat(3, 6rem);
    grid-template-areas: 
    " . up ."
    "left . right"
    ". down ."
    ;
    justify-items: center;
    align-items: center;
    margin: 0 auto 2rem;
    grid-area: buttons;
    align-self: center;
    justify-self: start;
    font-size: 2rem;
  }

  #up{
    grid-area: up;
}

#left{
  grid-area: left;
}

#right{
  grid-area: right;
}

#down{
  grid-area: down;
}
  
  button {
    background-color: #f5e1ce;
    border-radius: 8px;
    border-color: #9a5833;
    font-family: inherit;
    margin: 0;
    padding: 1rem 2rem;
    width: 12rem;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
    transition: all ease 0.3s;
    font-size: 1.4rem;
    font-weight: 700;
  }

  button:hover{
    background-color: #9a5833;
    border-radius: 8px;
    border-color: #9a5833;
    font-family: inherit;
    font-weight: 500;
    color: #fff;
    transition: all ease 0.3s;
    font-weight: 700;
  }

  button:not(:last-child) {
    margin-right: 10px;
  }
  
  .messages {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 100%;
    max-width: 45rem;
    height: 10rem;
    background-color: #f5e1ce;
    border-radius: 3rem;
    font-size: 1.6rem;
    font-weight: 700;        
    box-shadow: 1px 2px 3px rgba(0,0,0,0.3);
  }

  .messages p  {
    padding-left: 5rem;
  }

  
  .time-counter {
    padding-left: 4.5rem;
  }
  .record-display  {
    padding-left: 5rem;
  }

  .life--counter,
  .level { 
    padding-left: 6rem;
  }

  .messages-button {
    display: flex;
    justify-content: space-evenly;
  }
  .message--record p {
    font-size: 1.6rem;
    font-weight: 700;
  }

  .win-without-record,
  .message--defeat {
    font-size: 1.6rem;
    font-weight: 700;
  }

  .inactive {
    display: none;
  }

  p {
    display: block;
    margin: 0;
    width: 100%;
  }

  footer {
    background-color: #f5e1ce;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.7rem;
  }

  .contact--logo--copyright {
    font-size: 1.8rem;
    color: #8d4925;
  }

  .contact--logo--copyright span {
    font-size: 2.5rem;
    font-weight: 700;
  }

  .contact--logo--copyright a {
    text-decoration: none;
    color: #8d4925;
    font-weight: 700;
  }

  /*Medias queries*/

  @media screen and (max-width: 1020px){
    .game-container{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "nivel nivel "
        "main buttons "
        "main buttons"
        "info info"
        ;
        row-gap: 0;
        padding-top: 2.5rem;
   
    }

    .btns{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 6rem);
        grid-template-areas: 
        " up "
        " down "
        " left "
        " right "

        ;
        row-gap: 2rem;
        justify-items: center;
        align-items: center;
        margin: 0;
        grid-area: buttons;
        align-self: center;
        justify-self: start;
        font-size: 1.8rem;
        width: 100%;
    }

    .button-big{
        display: none;
    }

    .button-media{
        display: block;
    }
    .fa-caret-left, .fa-caret-up, .fa-caret-down, .fa-caret-right{
        font-size: 5.6rem;
    }
    #up-cel{
        grid-area: up;
    }
    
    #left-cel{
        grid-area: left;
    }
    
    #right-cel{
        grid-area: right;

    }
    
    #down-cel{
        grid-area: down;
    }

    .messages{
        grid-template-columns: repeat(3, 14rem);
        grid-template-rows: repeat(2, 4rem);
        grid-template-areas: 
        "life timer  record "
        "life--counter time--counting  record--display"
        ;
        grid-area: info;
        justify-content: center;
        column-gap: 1rem;
    }    

    .canvas{
        justify-self: center;
        align-self: center;
    }

    .level--show{
        padding-left: 1.2rem;
    }

    .welcome--contact{
        width: 90%;
        grid-template-columns: repeat(auto-fit,minmax(25rem, 1fr));
        padding: 2rem;
        row-gap: 2rem;
    }

    .contact--logo{
        column-gap: 1rem;
    }

    .message--record div .button--standar{
        width: 20rem;
        height: 8rem;
        font-size: 1.8rem;
    }
    
}

@media screen and (max-width: 600px){
  .game-container{
      grid-template-columns: 1fr;
      grid-template-areas: 
      "nivel"
      "main "
      "buttons"
      "info"
      ;
      row-gap: 0;
  }

  .btns {
        display: grid;
        margin-bottom: 5rem;
        grid-template-columns: repeat(3, minmax(6rem, 14rem));
        grid-template-rows: repeat(3, 4rem);
        grid-template-areas: 
        " . up ."
        "left . right"
        ". down ."
        ;
        justify-items: center;
        align-items: center;
        margin: 0 auto 20px;
        grid-area: buttons;
        align-self: center;
        justify-self: start;
        justify-content: center;
    }
    
    .messages{
        grid-template-columns: 13rem 14rem;
        grid-template-rows: repeat(3, 3rem);
        grid-template-areas: 
        "life life--counter"
        "timer time--counting"
        "record record--display"
        ;
        padding: 1rem 2rem;
        justify-self: center;
        grid-area: info;
        align-self:center;
        justify-self: center;
        border-radius: 1rem;
        width: auto;
        justify-content: center;
        column-gap: 1rem;
        align-self: flex-start;
    }

    #up-cel{
        grid-area: up;
    }
    
    #left-cel{
        grid-area: left;
        justify-self: end;
    }
    
    #right-cel{
        grid-area: right;
        justify-self: start;

    }
    
    #down-cel{
        grid-area: down;
    }

    .fa-caret-left, .fa-caret-up, .fa-caret-down, .fa-caret-right{
        font-size: 26px;
    }

    .game--over--message, .winner--message{
        width: 80%;
    }
    .arrow-small{
        color: #F1C40F;
        font-size: 4rem;
    }

    footer {
        padding: 1.2rem;
    }
  
    .contact--logo--copyright {
      font-size: 1.4rem;
    }
  
    .contact--logo--copyright span {
      font-size: 2rem;
    }
}